[Unit]
Description=Shutdown one hour after Flumen server is started
After=flumen.service

[Service]
Type=oneshot
# Note to future self: This requires: apt install dbus and systemctl unmask systemd-logind
ExecStart=/sbin/shutdown +60
ExecStop=/sbin/shutdown -c

[Install]
WantedBy=multi-user.target
