[Unit]
Description=Shutdown one hour after Flumen server is started
# It's important that we start after timesyncd. Else the shutdown will be set
# to 60 minutes after last shutdown time and never run.
After=flumen.service systemd-timesyncd.service

[Service]
Type=oneshot
# Note to future self: This requires: apt install dbus and systemctl unmask systemd-logind
ExecStart=/sbin/shutdown +60
ExecStop=/sbin/shutdown -c

[Install]
WantedBy=multi-user.target
