[Unit]
Description=Bubula2 Flumen entrance server
BindsTo=flumen.service
After=flumen.service

[Service]
Type=simple
ExecStart=/var/flumen/flumen-entrance-server.sh
ExecStop=/usr/bin/pkill flumen-entrance-server.sh

[Install]
WantedBy=multi-user.target
